@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.price-chart {
    padding-bottom: 1rem;

    @include tablet {
        padding-bottom: 2rem;
    }

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 1rem;
        padding: 1rem 0;
    }

    @include tablet {
        margin: 0 2rem;
    }
    
    &__title {
        margin: 0;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__icon {
        width: 2rem;
        padding: 0 .25rem;
        padding-left: .875rem;

        @include tablet {
            width: 3rem;
            padding-left: 1.25rem;
        }
    }

    &__button-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__subtitle {
        color: $color-primary-fade;
        font-size: .75rem;
        flex-basis: 100%;
        text-align: center;
        margin: 0;
        margin-bottom: .25rem;
        background-color: white;
    }

    &__container {
        display: flex;
        flex-direction: column;
        height: 60vh;
        padding: 1rem;
    }

    &__dates-wrapper {
        display: flex;
        justify-content: space-around;
        width: 11rem;
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.075);
        border-radius: 0.5rem;
        padding: .25rem;
        margin-left: auto;
    }

    &__button {
        margin: 0 .25rem;
        background-color: transparent;
        color: white;
        border: none;
        font-weight: 600;

        &-active {
            color: $color-secondary;
        }
    }
};