@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.order-book {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include desktop {
        flex-basis: 100%;
    }

    &__title-wrapper {
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 1rem;
        padding: 1rem 0;

        @include tablet {
            margin: 0 2rem;
        }

        @include desktop {
            display: none;
        }
    }

    &__container {
        margin: 0 1rem;
        flex-basis: 100%;
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.123);
        border-radius: 0.5rem;
        padding: 1rem;

        @include tablet {
            margin: 0 2rem;
        }

        @include desktop {
            margin: 0;
        }
    }

    &__title {
        margin: 0;

        @include tablet {
            font-size: 1.25rem;
        }
    }

    &__button-wrapper {
        display: flex;
        justify-content: center;
    }

    &__top-of-book {
        &-container {
            display: flex;
            flex-basis: 100%;
            justify-content: space-between;
            margin-top: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $color-primary;
        }
    }

    &__aggregate {
        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-icon {
            width: 1.25rem;
            height: 1.25rem;
            margin-left: .5rem;
            cursor: pointer;
        }
    }


    &__title {
        &--bid {
            color: rgb(88, 248, 88);
        }

        &--ask {
            color: rgb(255, 97, 97);
        }

        &--aggregate {
            margin-left: .5rem;
        }
        
    }

    &__subtitle {
        margin: 0;
        margin-top: .25rem;
        font-size: .75rem;
        color:  $color-primary-fade;

        @include tablet {
            font-size: 1rem;
        }

        &--ask {
            text-align: right;
        }

        &--aggregate {
            text-align: center;
        }
    }

    &__details-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__bids-wrapper {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        border-right: 1px solid $color-primary;
        padding-right: 1rem;

        @include desktop {
            height: 30vh;
            overflow: hidden;
            overflow-y: scroll;
        }
    }

    &__column {
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
    }

    &__details-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__asks-wrapper {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        padding-left: 1rem;

        @include desktop {
            height: 30vh;
            overflow: hidden;
            overflow-y: scroll;
        }
    }

    &__details-subtitle {
        margin: 0;
        font-size: .8125rem;
        color:  $color-primary-fade;
        margin-top: 1rem;

        @include tablet {
            font-size: 1rem;
        }
    }

    &__text {
        font-size: .75rem;

        @include tablet {
            font-size: 1rem;
        }

        &--bids {
            color: rgb(88, 248, 88);
        }

        &--asks {
            color: rgb(255, 97, 97);
        }
    }
}

.fade-in-bid {
    animation: fadeIn-bid .5s;
}

.fade-in-ask {
    animation: fadeIn-ask .5s;
}


@keyframes fadeIn-bid {
    from {
        background-color: transparent;
        color: white;
        opacity: 0;
    }
    
    to {
        background-color: green;
        color: white;
        opacity: 1;
    }
}

@keyframes fadeIn-ask {
    from {
        background-color: transparent;
        color: white;
        opacity: 0;
    }
    
    to {
        background-color: red;
        color: white;
        opacity: 1;
    }
}