@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0rem;
    margin: 0 1rem;
    border-bottom: 1px solid rgb(255, 255, 255);

    @include tablet {
        margin:  0 2rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--spread {
            justify-content: flex-start;
        }
    }
    
    &__spread-wrapper {
        display: flex;
        align-items: center;
    }

    &__price {
        font-size: 1.25rem;
        margin: 0;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__title {
        margin: 0;
        margin-top: .5rem;
        font-size: 1rem;

        @include tablet {
            font-size: 1.25rem;
        }
    }

    &__subtitle {
        color: $color-primary-fade;
        font-size: .75rem;
        margin: 0;

        @include tablet {
            font-size: 1rem;
        }
    }

    &__text {
        margin: 0;
        margin-bottom: .5rem;
        &--positive {
            color: rgb(88, 248, 88);
        }

        &--negative {
            color: rgb(255, 97, 97);
        }

        @include tablet {
            font-size: 1.4rem;
        }
    }

}